body{
    font-family: "Roboto", sans-serif;
}
section{
    width:150px;
}
h1{
 font-weight: 700;
}
button{
    padding:5px;
    background-color:red;
    color: white;
    font-weight: 600;
    border:red;
}